{% extends 'base.html' %}

{% block head %}
<title>Gallery</title>
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">

        <!--Title-->
        <div class="col-lg-12">
            <div class="page-header" style="text-align: left; margin-top: 20px;">
                <h2>Movie</h2>
                <hr>
                <!--Title image-->
                <div class="column" style="width: 100px;">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/98/Jigokumon_poster.jpg" width="150px">
                </div>
                <!--Title infobox-->
                <div class="column" style="text-align: left; margin-left: 110px;">
                    <ol>
                        <li>Movie title: Jigokumon</li>
                        <li>Genre: Melodrama,History,Romance </li>
                        <li>Year: 1953</li>
                        <li>Country: Japan </li>
                    </ol>
                   
                </div>
            </div>      
        </div>
       
        
        <!--Image Scrollbar-->
        <div class="col-lg-10" style="text-align: left;">
            <hr>
            <h3>Snapshot Analysis</h3>
            <h5>Images:</h5>
        </div>
        <div class="noborder" style="overflow: auto; width: 1510px; height: 170px;">
            {% for image_name in image_names %}
            <div class="noborder" style="width: 1510px;">
                <img src="{{url_for('show', filename=image_name)}}" style="float: left; width: 150px; height: 150px; margin: 5px 5px;" class="image-responsive" width="100" height="150">
            </div>
            {% endfor %}
        </div>

        <!--Hierarchical Color Palettes Scrollbar-->
        <div class="col-lg-10" style="text-align: left;">
            <form action="{{ url_for('get_hiercp') }}" style="margin-top: 10px;">
                <input type="submit" id="hier_cp" class="btn btn-primary" value="Transform" />
            </form> 
        </div>  
        <div class="col-lg-10" style="text-align: left; margin-top: 10px;">
            <h5>Hierarchical Color Palettes: </h5>
        </div>
        <div class="noborder" style="overflow: auto; width: 1510px; height: 170px;">
            {% for hiercp_name in hiercp_names %}
            <div class="noborder" style="width: 1510px;">
                <img src="{{url_for('show_hiercp', hiercp=hiercp_name)}}" style="float: left; width: 150px; height: 150px; margin: 5px 5px;" class="image-responsive" width="100" height="150">
            </div>
            {% endfor %}
        </div>

        <!--Flat Color Palettes Scrollbar-->
        <div class="col-lg-10" style="text-align: left;">
            <form action="{{ url_for('get_flatcp') }}" style="margin-top: 10px;">
                <input type="submit" id="flat_cp" class="btn btn-primary" value="Transform2" />
            </form> 
        </div>  
        <div class="col-lg-10" style="text-align: left; margin-top: 10px;">
            <h5>Flat Color Palettes: </h5>
        </div>
        <div class="noborder" style="overflow: auto; width: 1510px; height: 170px;">
            {% for flatcp_name in flatcp_names %}
            <div class="noborder" style="width: 1510px;">
                <img src="{{url_for('show_flatcp', flatcp=flatcp_name)}}" style="float: left; width: 150px; height: 150px; margin: 5px 5px;" class="image-responsive" width="100" height="150">
            </div>
            {% endfor %}
        </div>


    </div>
</div>

{% endblock %}